<div class="container">
  <h1 class="text-center">Energy Analysis</h1>

  <p>Energy Return on Investment (EROI) is a factor which indicates the energy performance of energy systems. The factor indicates how much energy is returned to the community considering the energy taken from the community. EROI has been widely used for analysis of energy systems as communities seek to operate energy systems that generate a high rate of energy return. EROI is calculated as the ratio between the energy returned (energy out) against the energy used (energy in). Energy in is for example the energy used in the construction and operation of power plants, energy returned is the energy available after production and ready for use.</p>
</div>