<!--parallax 1 -->
<section class="top_image bg-1 text-center">
   <img  class="logo" src="assets/logo.svg">

<p class="lead">Green your business for growth</p> 

   
</section>
<!--/parallax 1-->

<div >
<div class="container bg_text1">

<div class="container bg_text2">
<hr class="">
        <h1 class="text-center mission-heading">Our Mission</h1>
        <p class="mission">The aim of Circular is to provide small and medium sized firms the ability to assess the environmental performance of their products, systems or services. By the means of life cycle assessment (LCA), and a solid foundation from the staff at Circular, we can help firms addressing sustainability issues.</p> <p class="mission">Firms that have a strong sustainability policy have further more been shown to perform better than their counterparts economically, this is the result of many factors that eventually benefit the operations of firms.</p>
</p>
<hr class="">
</div>
    
    <div class="row">
    
      <div class="col-md-4">
           <div class="panel panel-default">
             <div class="panel-heading">
                <h3 class="panel-title">Life Cycle Assesment (LCA)</h3>
             </div>
                <div class="panel-body">
                    <p>Migas yr 90's, pork belly gentrify knausgaard chia mixtape church-key echo park tousled. Williamsburg four loko keytar health goth, pickled shabby chic quinoa forage master cleanse paleo godard mlkshk marfa sartorial salvia. Microdosing portland asymmetrical sartorial, 90's meggings vegan. </p>
                    <%= link_to "More", pages_lca_path %> 
                </div>

                
            </div>
      </div>

       <div class="col-md-4 ">
           <div class="panel panel-default">
             <div class="panel-heading">
                <h3 class="panel-title">Energy Analysis</h3>
             </div>
                <div class="panel-body">
                    <p>Stumptown ethical keffiyeh swag. Twee chia you probably haven't heard of them, readymade distillery kale chips meggings hoodie fashion axe shoreditch kinfolk paleo jean shorts affogato. Brooklyn cornhole pour-over kale chips, semiotics kitsch mustache tacos drinking vinegar.</p>
                     <%= link_to "More", pages_energy_anal_path %> 
                </div>
                
             
            </div>
      </div>

       <div class="col-md-4 ">
           <div class="panel panel-default">
             <div class="panel-heading">
                <h3 class="panel-title">Green accounting</h3>
             </div>
                <div class="panel-body">
                    <p>Narwhal echo park pug offal raw denim waistcoat. Chicharrones synth pitchfork drinking vinegar. Tumblr flannel meh, chambray artisan yuccie lomo franzen bushwick celiac +1 fingerstache viral mumblecore forage. Cold-pressed forage franzen freegan meditation.</p> 
                     <%= link_to "More", pages_energy_anal_path %> 
                </div>
            </div>
      </div>

     
    
    </div>
    <!--/row-->
    <hr class="">

   
</div>


<!--/container-->
<!--<div class="divider"></div>-->
<section class="we_are_image bg-2">
    <div class="col-sm-10 col-sm-offset-1 text-center">
         <h1 class="">Circular Team</h1>
    </div>

    <div class="row">
      <div class="container">
        <div class="col-sm-12 col-md-3">
             <h3>Birgir Örn Smárason, M.SC.</h3>

                <img src="/assets/BOS.jpg" class="portfolio-img img-responsive">
                <p class="cv">Birgir holds a B.Sc. in environmental planning from the agricultural university of Iceland. The holds a M.Sc. degree from the University of Iceland where he studied at the Environment and Natural Resource program. He is now about to finish his Ph.D. from the University of Iceland where he has also taught LCA. His main areas of study has been within life cycle assessments of aquaculture and bio economy. Birgir is also an active member of the Icelandic search and rescue (SAR) team and can often be found in high altitudes.</p>
        </div>

        <div class="col-sm-12 col-md-3">
             <h3>Daði Hall, M.SC.</h3>

                <img src="/assets/BOS.jpg" class="portfolio-img img-responsive">
                <p class="cv">Birgir holds a B.Sc. in environmental planning from the agricultural university of Iceland. The holds a M.Sc. degree from the University of Iceland where he studied at the Environment and Natural Resource program. He is now about to finish his Ph.D. from the University of Iceland where he has also taught LCA. His main areas of study has been within life cycle assessments of aquaculture and bio economy. Birgir is also an active member of the Icelandic search and rescue (SAR) team and can often be found in high altitudes.</p>
        </div>

        <div class="col-sm-12 col-md-3">
             <h3>Hafþór Ægir Sigurjónsson, Ph.D</h3>

                <img src="/assets/Haf.png" class="portfolio-img img-responsive">
                <p class="cv">Hafþór holds a B.Sc. degree in Civil Engineering from Reykjavik University and a M.Sc. degree in Mechanical Engineering from the Technical University of Denmark (DTU). Hafþór has done extensive research in optimization and comparative analysis of industrial processes using Life Cycle Assessment (LCA) methods. Along with doing his research work, he also teaches LCA at the University of Iceland, and has previously taught sustainable production at DTU. </p>
        </div>

        <div class="col-sm-12 col-md-3">
             <h3>Reynir Smári Atlason, Ph.D</h3>

                <img src="/assets/Rey.png" class="portfolio-img img-responsive">
                <p class="cv">Reynir holds a B.A. degree in product design from Curtin University of Technology. He also holds a M.Sc. and Ph.D. from the Environment and Natural Resource program at the University of Iceland. Reynir has studied Energy Return on Investment (EROI), innovation in the geothermal sector and sustainable product design. He has, like the other founders of Circular, taught LCA at the University of Iceland. Reynir is an avid sailor, his latest voyage was from the north coast of France, through the North Sea to Denmark, inside the Baltic Sea.</p>
        </div>
      </div>
    </div>
</section>


<!--/container-->
<!--<div class="divider"></div>-->
<!--parallax 2 -->
<section class="bg-3 text-center">
     <h1 class="">Contact for more information</h1>

    <p class="lead"></p>

    <%= render 'contacts/new' %>
</section>
<!--/parallax 2-->

<footer id="footer">

    <a href="#">dgdgdg</a>
    
</footer>
