<div class="container">
	<h1 class="text-center">Life Cycle Assesment</h1>

		<p>One aspect of achieving sustainability is to measure and compare the environmental impacts of production and supply of goods and services in order to minimize impacts. The life of every product starts with the design/product development, and from that point adoption of resources and raw materials, production, use and end of life activities. Life cycle assessment (LCA) is a methodology used to estimate and evaluate the environmental impacts of a product’s life cycle. Traditional life cycle assessment is measured from cradle to grave. That means that the life cycle is registered from the extraction of raw materials to the usage and disposal of the product. From cradle to gate means that the life cycle is registered from the extraction of raw materials to a so called gate or farm-gate, which is usually some sort of product process, before it is sent for use.</p> 
		
		<p>LCA’s use has been increasingly encouraged within the EU framework. It is now also a part of many eco-labels such as the EU-flower and the Nordic swan. It can be added that the US Environmental Protection Agency (EPA) focuses on and encourages the use of LCA for assessing the environmental impacts of products, and by doing that the production process can be analyzed in order to decrease impacts. The methodology can also be used to strengthen marketing of products.</p>
</div>
