/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


.logo{
    margin-top: 50px;
    width: 50%;
}
.lead{
    margin-top: 50px;
    font-size: 2.5em;
    color:#2e4c5d;
}
.heading {
    font-size: 4em;
    letter-spacing: .8em;


}

.navbar .nav > li > a {
    color: #2e4c5d;
}

p,h3,h1{
    font-family: 'PT Sans', sans-serif;
    color:#2e4c5d;
}

.mission{
    color: #fff;
    font-size: 1.2em;

}

.mission-heading{
    color: #fff;
}

.small {
    text-align: right;
    margin-right: 300px;
    font-family: 'PT Sans', sans-serif;
}

.divider {
    height:50px;
}

.top_image {
    height:1200px;
    width: 100%;
    padding-top:200px;
    padding-bottom:50px;

    overflow:hidden;
}

.we_are_image {
    height:800px;
    padding-top:50px;
    padding-bottom:50px;
    overflow:hidden;
}

section {
    height:500px;
    padding-top:50px;
    padding-bottom:50px;
    overflow:auto;
}


.bg_text1 {
    background: url('/assets/slide5.jpeg') no-repeat center center fixed;
   
    background-size:cover;
    width: 100%;
    height: auto;


}

.bg_text2 {

    margin-top: 30px;
    background: rgba(46,76,93, .5);
    margin-left: 0px;
    margin-right: 0px;
    background-size:cover;
    width: 100%;
    height: auto;
    border-radius: 5px;



}

.bg-1 {
	background: url('/assets/slide7.jpeg') no-repeat center center fixed;
    color:#fff;
    background-size:cover;
    width: 100%;
    height: 1200px;
}
  
.bg-2 {
	background: url('/assets/slide1.jpg') no-repeat top center fixed;
    color:#fff;
    background-size:cover;
     width: 100%;
    height: auto;
}

.bg-3 {
	background: url('/assets/slide4.jpg') no-repeat bottom center fixed;
    color:#2e4c5d;
    background-size:cover;
      width: 100%;
    height: auto;
}

#footer {
    height: 60px;
    background-color:#585858;
    margin-top:50px;
    padding-top:20px;
    padding-bottom:20px;
}

#footer a {
  color:#efefef;
}


/*******IMAGES ******/


.portfolio-img {
	height: 150px;
	width: 150px;
	
	border-radius: 100%;
	border: solid 4px #efefef;
	
}

 .img-responsive{
 	 margin: 0 auto;
 }


 .cv{
    margin-top: 30px;
    margin-bottom: 50px;
 }

/**** PANELS ***/

.panel{
    margin-top: 50px;
    margin-bottom: 50px;
    border: none;
}

.panel h3.panel-title {
    font-family: 'PT Sans', sans-serif;
    color:#2e4c5d;
}
.panel.panel-heading{
    background: rgba(122, 130, 136, 0.1)!important;
}

.panel.panel-default{
     background-color: rgba(250, 250, 250, .6);
}


/** NAVBAR **/

.navbar {
transition-duration: 1s;
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.navbar li { color: #000 } 


.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}


/** FLASH ALERTS **/

/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

/** Contact Form */

.hidden { display: none; }

p.contact-form{
    color: #fff;
}



/************* MEDIA QUERIES ************/



@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .logo {
        margin-top: 10px;
        margin-bottom: 50px;
        width: 90%;
    }

    .top_image {
    height:1200px;
    width: 100%;
    padding-top:200px;
    padding-bottom:50px;

    overflow:hidden;
}

}

